@import "abstracts/functions";
@import "./abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "components/button";
@import "components/heading";


.hdr{
    height: 95vh;
    background-image: linear-gradient(to left top,$color-red,$color-green ,$color-blue) , url(../imgs/main-hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    position: relative;
}

.logo_dv{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo_img{
    height: 12vh;
    animation-name: toup;
    animation-duration: 3s;
}



